#!/bin/bash

cd {{ cgvault_path }}

#
# Function part
#
help(){
    echo "Syntax: {{ cgvault_cli_name }} [Option]"
    echo "Available options: install, add [ssh|aws] [name], rm [ssh|aws] [name], push, pull, pi, rotate, list"
}

password_required() {
    if [ ! -f ./.password ]; then
        echo "Enter your password:"
        read -s PASSWORD
        echo -n $PASSWORD > ./.password
        chmod 0600 ./.password
    fi
}

decrypt() {
    password_required

    echo "Decrypt secrets files..."
    if [ $(cat ./.crypt_status) == "decrypted" ]; then 
        echo "Secret files already decrypted..."
    else
        ansible-vault decrypt --vault-id .password secrets/ssh_key_pairs.yml secrets/aws_accounts.yml secrets/ssh_config && change_crypt_status_to "decrypted"
    fi
}

encrypt() {
    password_required

    echo "Encrypt secrets files..."
    if [ $(cat ./.crypt_status) == "encrypted" ]; then 
        echo "Secret files already encrypted..."
    else
        ansible-vault encrypt --vault-id .password secrets/ssh_key_pairs.yml secrets/aws_accounts.yml secrets/ssh_config && change_crypt_status_to "encrypted"
    fi
}

set_state() {
    case $1 in
        decrypted) decrypt ;;
        encrypted) encrypt ;;
    esac
}

install() {
    password_required
    ansible-playbook main.yml --tags install --vault-id .password
}

push() {
    set_state "encrypted"
    git add .
    git commit -m "[Vault] Update secrets"
    git push origin master
}

pull() {
    git reset --hard origin/master
    git fetch
    git pull origin master
}

rotate() {
    ansible-playbook main.yml --tags rotate --vault-id .password
}

add() {

    if [ $# -ne 2 ]
    then
       help
       exit 1
    fi

    case $1 in
        ssh) 
            echo "Enter the absolute path of SSH private key:"
            read FILEPATHPRIVATE
            echo "Enter the absolute path of SSH public key:"
            read FILEPATHPUBLIC
            echo "Enter a comment on key:"
            read COMMENT
            ansible-playbook main.yml --tags add_ssh --vault-id .password \
                -e "ssh_key_name=${2}" \
                -e "ssh_private_key_path=${FILEPATHPRIVATE}" \
                -e "ssh_public_key_path=${FILEPATHPUBLIC}" \
                -e "ssh_key_comment=${COMMENT}"
        ;;
        aws) 
            echo "Enter region:"
            read REGION

            echo "Enter access_key_id:"
            read ACCESS_KEY_ID
            
            echo "Enter secret_access_key:"
            read SECRET_ACCESS_KEY

            echo "Enter username:"
            read USERNAME

            ansible-playbook main.yml --tags add_aws --vault-id .password \
                -e "aws_acc_name=${2}" \
                -e "aws_acc_region=${REGION}" \
                -e "aws_acc_aki=${ACCESS_KEY_ID}" \
                -e "aws_acc_sak=${SECRET_ACCESS_KEY}" \
                -e "aws_acc_user=${USERNAME}"
        ;;
        *) help_add ;;
    esac
}

remove() {
    if [ $# -ne 2 ]
    then
       help
       exit 1
    fi

    case $1 in
        ssh) 
            ansible-playbook main.yml --tags rm_ssh --vault-id .password \
                -e "ssh_key_pair_to_rm=${2}" 
        ;;
        aws) 
            ansible-playbook main.yml --tags rm_aws --vault-id .password \
                -e "aws_account_to_rm=${2}" 
        ;;
        *) help_add ;;
    esac
}

list() {
    ansible-playbook main.yml --tags list --vault-id .password
}


change_crypt_status_to() {
    printf $1 > ./.crypt_status
}

#
# Main part
#
case $1 in
  install) install ;;
  encrypt) encrypt ;;
  decrypt) decrypt ;;
  push) push ;;
  pull) pull ;;
  pi)
    pull
    install
  ;;
  list) list ;;
  rotate) rotate ;;
  add) add $2 $3 ;;
  rm) remove $2 $3 ;;
  *) help ;;
esac
